---
import Layout from '~/layouts/PageLayout.astro';
import HeroText from '~/components/widgets/HeroText.astro';
import Content from '~/components/widgets/Content.astro';

const metadata = {
  title: 'Music',
};
---

<Layout metadata={metadata}>
  <!-- HeroText Widget ******************* -->
  <HeroText title="Music" tagline="North Sea Echoes" />

  <!-- Content Widget: How to Cast a Shadow (2026) ****************** -->
  <Content
    isAfterContent
    isBeforeContent
    isReversed={true}
    image={{
      src: '~/assets/images/HTCAS_cover.jpg',
      alt: 'North Sea Echoes - How to Cast a Shadow (2026)',
    }}
  >
    <Fragment slot="content">
      <h2 class="text-3xl font-bold tracking-tight dark:text-white sm:text-4xl mb-4 font-heading">
        How to Cast a Shadow
      </h2>
      <div class="space-y-4 text-justify">
        <p>Released on July 24, 2026</p>
      </div>
      <p>&nbsp;</p>
      <div class="mb-6 font-semibold dark:text-slate-200">
        <p>Track List</p>
      </div>
      <div class="space-y-4 text-justify">
        <p>
          1. A Time of Innocence and Purpose<br />
          2. Enjoy the View<br />
          3. Good Enough<br />
          4. I'll Leave a Light On<br />
          5. All Fall Away<br />
          6. Revenge<br />
          7. Villains or Saints<br />
          8. What Is and What Was<br />
          9. All That Comes After<br />
          10. How to Cast a Shadow
        </p>
      </div>
      <p>&nbsp;</p>
      <div class="mb-6 font-semibold dark:text-slate-200">
        <p>Written, Performed, and Recorded By</p>
        <p>Jim Matheos and Ray Alder</p>
        <p>&nbsp;</p>
        <p>Acoustic Drums Performed By</p>
        <p>Dennis Leeflang</p>
        <p>&nbsp;</p>
        <p>Mixed and Produced By Jim Matheos</p>
        <p>Mastered By Harry Hess at HBomb Mastering</p>
        <p>&nbsp;</p>
        <p>All Images Courtesy of Chris Friel</p>
        <p>Layout and Design By Brian Ames</p>
        <p>&nbsp;</p>
        <p>All Songs Written By Jim Matheos and Ray Alder</p>
        <p>Published By Matheos Music / Horrendous Music / BMG Rights Management / BMI</p>
      </div>
      <div class="mb-6 font-semibold dark:text-slate-200">
        <hr />
        <p>
          Purchase via <a
            href="https://www.metalblade.com/northseaechoes/"
            target="_blank"
            class="text-muted hover:text-gray-700 hover:underline dark:text-gray-400 transition duration-150 ease-in-out"
            >metalblade.com/northseaechoes</a
          > | <a
            href="https://amzn.to/4eFhDAw"
            target="_blank"
            class="text-muted hover:text-gray-700 hover:underline dark:text-gray-400 transition duration-150 ease-in-out"
            >Amazon.com</a
          >
        </p>
      </div>
    </Fragment>
  </Content>

  <!-- Content Widget: Really Good Terrible Things (2024) ****************** -->
  <Content
    isBeforeContent
    isReversed={false}
    image={{
      src: '~/assets/images/RGTT_cover.png',
      alt: 'North Sea Echoes - Really Good Terrible Things (2024)',
    }}
  >
    <Fragment slot="content">
      <h2 class="text-3xl font-bold tracking-tight dark:text-white sm:text-4xl mb-4 font-heading">
        Really Good Terrible Things
      </h2>
      <div class="space-y-4 text-justify">
        <p>Released on February 23, 2024</p>
      </div>
      <p>&nbsp;</p>
      <div class="mb-6 font-semibold dark:text-slate-200">
        <p>Track List</p>
      </div>
      <div class="space-y-4 text-justify">
        <p>
          1. Open Book<br />
          2. Flowers In Decay<br />
          3. Unmoved<br />
          4. Throwing Stones<br />
          5. Empty<br />
          6. The Mission<br />
          7. Where I'm From<br />
          8. We Move Around The Sun<br />
          9. Touch The Sky<br />
          10. No Maps
        </p>
      </div>
      <p>&nbsp;</p>
      <div class="mb-6 font-semibold dark:text-slate-200">
        <p>Written, performed, and recorded by Jim Matheos and Ray Alder</p>
        <p>Live drum performances on Throwing Stones and Empty by Gunnar Olsen</p>
        <p>Organ on We Move Around The Sun by Abel Boquera</p>
        <p>Drum mixes on Throwing Stones and Empty by Simone Mularoni</p>
        <p>&nbsp;</p>
        <p>Mixed and produced by Jim Matheos</p>
        <p>Mastered by Harry Hess at HBomb Mastering</p>
        <p>&nbsp;</p>
        <p>Artwork, design, and layout by Simon Ward</p>
        <p>www.identity-media.co.uk</p>
        <p>&nbsp;</p>
        <p>Thanks to-</p>
        <p>Tracy Vera, Brian Slagel, Anna Walter, Gunnar Olsen, Abel Boquera,</p>
        <p>Simone Mularoni, Harry Hess, Simon Ward, Tim Bowness,</p>
        <p>Cecilia Garrido Stratta, David Ballester Garrido,</p>
        <p>Laurie Matheos, Lindsay Matheos</p>
        <p>&nbsp;</p>
        <p>All Songs Written By Jim Matheos and Ray Alder</p>
        <p>Published By Matheos Music / Horrendous Music / BMG Rights Management / BMI</p>
      </div>
      <div class="mb-6 font-semibold dark:text-slate-200">
        <hr />
        <p>
          Purchase via <a
            href="https://www.metalblade.com/northseaechoes/"
            target="_blank"
            class="text-muted hover:text-gray-700 hover:underline dark:text-gray-400 transition duration-150 ease-in-out"
            >metalblade.com/northseaechoes</a
          > | <a
            href="https://amzn.to/4wdcGWR"
            target="_blank"
            class="text-muted hover:text-gray-700 hover:underline dark:text-gray-400 transition duration-150 ease-in-out"
            >Amazon.com</a
          >
        </p>
      </div>
    </Fragment>
  </Content>
</Layout>
